<div class="title">
    <h1>Listado de Cursos</h1>
</div>
<div class="container">
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
     
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
      </ng-container>

      <ng-container matColumnDef="Teacher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Docente </th>
        <td mat-cell *matCellDef="let element"> {{element.Teacher}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Uri">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
        <td mat-cell *matCellDef="let element"> {{element.Uri}} </td>
      </ng-container>

      <ng-container matColumnDef="Opciones">
        <th mat-header-cell *matHeaderCellDef>
          <button class="agregar" routerLink="/AgregarCurso" mat-raised-button color="primary">Agregar</button>
        </th>
        <td mat-cell *matCellDef="let element"> 
         <mat-icon matTooltip="Ver" class="search" [routerLink]="['/VerCurso',1]">search</mat-icon>
         <mat-icon matTooltip="Editar" class="edit" routerLink="/EditarCurso/1">edit</mat-icon>
         <mat-icon matTooltip="Eliminar" class="delete">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>  
  
