<div class="title">
    <h1>Ver curso</h1>
</div>

<div class="container">
    <mat-card class="card">
        <mat-card-title>C#</mat-card-title>
        <mat-card-content>
            <p><strong>Descripcion:</strong> Curso de programacion</p>
            <p><strong>Docente:</strong> Luis Sanchez</p>
            <p><strong>Direccion:</strong>	https://github.com/alphamen01?tab=repositories</p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/Cursos" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>
