<div class="title">
    <h1>Ver curso</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<!-- <div *ngIf="curso$ | async as curso" class="container"> PIPE ASYNC-->
<div *ngIf="curso != null" class="container">
    <mat-card class="card">
        <mat-card-title>{{curso.name}}</mat-card-title>
        <mat-card-content>
            <p><strong>Descripcion:</strong> {{curso.description}}</p>
            <p><strong>Docente:</strong> {{curso.teacher}}</p>
            <p><strong>Direccion:</strong> {{curso.uri}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/Cursos" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>
